src/main/api/post-supplier-instance-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="supplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="supplierId"/>
        <xs:element type="xs:string" name="supplierName"/>
        <xs:element type="xs:string" name="supplierLocation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>