src/main/api/put-part-instance-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="part">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="item-id"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="currency"/>
        <xs:element type="xs:short" name="price"/>
        <xs:element name="link">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="rel"/>
                <xs:attribute type="xs:string" name="href"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>